<% p_list = ['year','month','week','day']%>
<%form_tag({ :action => action_select },{ :method => 'get' }) do %>
<%= hidden_field_tag('id_select', id_select)%>
<%= hidden_field_tag('project_id', id_select)%>
<%= hidden_field_tag('period', @period)%>
<table>
	<tr>
		<td>
			<label for="start">From</label>
		</td>
		<td>
			<label for="stop">To</label>
		</td>
	<%for p in p_list%>
		<td align='center'>
			<label for="<%=p%>"><%=p%></label>
		</td>
	<%end%>
		<td></td>
	</tr>
	<tr>
		<td align='center'>
			<%= text_field_tag "start", @start %>
			<%= calendar_for('start') %>
		<td align='center'>
			<%= text_field_tag "stop", @stop %>
			<%= calendar_for('stop') %>
		</td>	
	<%for p in p_list%>
		<td align='center'>
			<%= check_box_tag p, 1, @period.include?(p)%>
		</td>
	<%end%>
		<td>
			<%= submit_tag("change period")%>
		</td>
	</tr>
</table>
<%end%>