<div style='z-index:10'>
<%= render(:partial => 'obs_date_form', :locals => {:action_select => 'project', :id_select => @project.identifier}) %>
</div>
<%=javascript_include_tag("swfobject.js",:plugin => "charge-view")%>
<%start = @start%>
<%stop = @stop%>
<%period_list = @period.split(',')%>
<%graphId=0%>
<h2><%=@project.name %></h2>
<% for period in period_list%>
<h3>Workload by <%=period%></h3>
	<%url = url_for(:action => 'projectData', :controller => 'charge') %>
	<%url += '?id_select=' + @project.identifier %>
	<%url += '&start=' + start.to_s %>
	<%url += '&stop=' + stop.to_s %>
	<%url += '&period=' + period %>
<script type="text/javascript">
    <%graphId+=1%>
swfobject.embedSWF(
"<%=image_path('open-flash-chart.swf',:plugin => 'charge-view')%>",
"workload_<%=graphId%>", "800", "150",
"9.0.0", "expressInstall.swf",
{"data-file":"<%=CGI::escape(url)%>"}, 
{"wmode":"transparent"} );    		
</script>
<div id="workload_<%=graphId%>" style='z-index:0'>
</div>
  
<%end%>
